[Unit]
Description=Flask web server
[Install]
WantedBy=multi-user.target
[Service]
WorkingDirectory=/opt/url_shortener/application
PermissionsStartOnly=true
EnvironmentFile=/etc/systemd/system/url_shortener.env
ExecStart=/usr/bin/python3 run.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
